#canvas_principal {
    position: relative;
}
#my-canva {
    width: 100vw;
    height: 100vh;
    background-color: #F3F5FC;
    z-index: 1;
}

#logo {
    position: absolute;
    top: 60px;
    left: 20px;
}
.enviar{
    width: 328px;
    height: 67px;
    padding: 0;
    font-style: normal;
    font-family: "Inter";
    text-align: center;
    color: white;
    background: #0A3871;
    border: solid;
    border-radius: 25px;
    transition: 1s all;
    cursor: pointer;
    display: inline-block;
    
}
.enviar2{
    width: 328px;
    height: 67px;
    padding: 0;
    font-style: normal;
    font-family: "Inter";
    text-align: center;
    color: #0A3871;
    background: #D8DFE8;
    border: solid;
    border-radius: 25px;
    transition: 1s all;
    cursor: pointer;
    
}

